    
    .logo img{
        height:  40px;
    }
    body{
        margin: 0;
        padding: 0;
    }
    header ul{
        list-style: none;
        display: flex;
        margin: 0;
    }

    header{
        display: flex;
        background: #6083ca;
        justify-content: space-evenly;
        align-items: center;
    }
    header a, header li{
        padding: 15px;
    }
    a{
        text-decoration:none
    
    }
    main{
        width: 900px;
        margin: 0 auto;
    }
    .card{
        border: 1px solid ;
        display: flex;
        border-radius: 15px;
        padding: 15px;
        margin-top: 15px;
    }
    .card img{
        margin-right: 15px;
        border-radius: 15px;
    }

    aside{
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 5px;
        overflow: hidden;
        transition: 3s;
        background-color: #6083ca;
    }
    aside:hover {

        width: 150px;
    }
    
    @media (min-width: 1921px) {
        header {
            justify-content: center;
        }
    }
    @media (max-width: 910px) {
        main{
            width: 95%;
        }
    }